/*  
 *    =============================================================================
 *            App.css 
 *                    - Styles the App component with flex layout and animations.
 *
 *            Purpose
 *                    - This file provides the CSS styles for the App component,
 *                      including the animation for the logo and the layout for the 
 *                      App header.
 * 
 *            Key Components:
 *                     - App Logo Animation: Rotates the logo with a keyframes animation.
 *                     - Flexbox Layout: Centers content in the App header.
 * 
 *            Algorithms:
 *                     - Keyframes animation to spin the logo.
 * 
 *            Control Flow:
 *                     - No control flow mechanisms, simple style definitions.
 * 
 *            Author: Alleina Abad
 *            Date: November 16, 2024
 *            Revised: January 31, 2025
 *    =============================================================================
 */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
